body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #d6d6d6;
	
}

#questions {
	margin-left: 65px;
}

h1 {
	color: #3399ff;
	margin-top: 20px;
	font-size: 44px;
	font-weight: bold;	
}

.qai {
	margin-top: 50px;	
}

img {
	display: block;	
	margin-top: 20px;
	margin-bottom: 30px;
}

button {
	text-align: center;
	background-color: #3399ff;
	border: none; 
	color: #fff;
	padding: 10px 15px;
	margin-left: 65px;
	margin-top: 50px;
	border-radius: 7px;
	font-size: 18px;
}